{% extends 'base.html.twig' %}

{% block title %}Sorties{% endblock %}

{% block body %}

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nom</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{sortie.id}}</td>
            <td>{{sortie.libelle}}</td>
        </tr>
    </tbody>
</table>

<a href="{{path('sortie_index')}}" class="btn btn-primary">Retour à la liste</a>

{% endblock %}